@import url(normalize.css);
@import url(reset.css);

:root{
    /* Layout */
  --base--unit:27px;
  --container:1272px;

    /* Color styles */
  --light--gray: rgba(235, 235, 235, 1);
  --midium--gray: rgba(168, 168, 168, 1);
  --black: rgba(44, 44, 44, 1);
  --dark--gray: rgba(98, 98, 98, 1);
  --primary: rgba(154, 199, 91, 1);
  --secondary: rgba(85, 118, 44, 1);
  --white: rgba(255, 255, 255, 1);
  --banner:#2D3E4F;
  --banner--ft:#292C2E;

  /* Text-size styles */
  --body--ff: "Open Sans", sans-serif;
  --body: 16px;
  --banner--tt: calc(var(--base--unit) * 2);
  --section--tt: calc(var(--body) * 2);
  --content--tt: calc(var(--bdoy) * 1.5);
  --body--link: var(--body);
  --section--desc: calc(var(--body) * 1.125);
}

/* Layout */
.container{
  width: var(--container);
  margin: 0 auto;
}
.big_pd{
  padding: calc(var(--base--unit) * 3) 0;
}
.big_top_pd{
  padding-top: calc(var(--base--unit) * 3);
}
.hidden{
  position:absolute;
  clip-path: inset(50%);
  width:1;
  height: 1;
  margin:-1px;
  overflow: hidden;
}
hr{
  border:none;
  border-top:1px solid var(--midium--gray);
}
/* typography */
body{
  /*
  font-family: var(--body--ff);
  font-size: var(--body);
  line-height: var(--base--unit);
  */
  font:var(--bdoy)/var(--base--unit) var(--body--ff);
}
.banner_tt{
  font-size: var(--banner--tt); /* 54px */
  line-height: var(--banner--tt); /* 54px */
  color: #3A99D8;
  text-transform: uppercase;
}
.section_tt{
  font-size: var(--section--tt);
  font-weight: 300;
}
.content_tt{
  font-size: var(--content--tt);
}
.section_desc{
  font-size: var(--section--desc);
}
.link{
  text-decoration: underline;
}
.btn{
  height: 39px;
  padding: 0 20px;
  background: var(--light--gray);
  color: var(--dark--gray);
  font-size: calc(var(--body) * 0.875);
  font-weight: bold;
  display: inline-flex;
  align-items:center;
  gap: 10px;
  border-radius:3px;
  text-transform: uppercase;
}
.btn.big{
  height:calc(var(--base--unit) * 2);
  padding: 0 30px;
  text-transform: uppercase;
}
/* colors */
.primary{
  color: var(--primary);
}
.primary_bg{
  background:var(--primary);
}
.secondary{
  color: var(--secondary);
}
.banner_bg{
  background: var(--banner);
}
.banner_bg_ft{
  background:var( --banner--ft);
}
/* Form */
form{
  width: 350px;
  margin:0 auto;
}
.field{
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  background: var(--white);
  height: calc(var(--base--unit) * 2);
  display: flex;
  align-items:center;
  gap:10px;
  color:var(--black);
  border-radius: 3px;
}
.field:focus-within{
  box-shadow: inset 0 0 15px rgba(90,1,255,0.9);
}
.field span{
  color:var(--midium--gray);
}
.field input{
  display: block;
  width: 100%;
  height: 100%;
  outline:none;
}
.field input::placeholder{
  width: 100%;
  color:var(--midium--gray);
}
.button{
  width: 100%;
  box-sizing: border-box;
  height: calc(var(--base--unit) * 2);
  display: flex;
  justify-content: center;
  align-items:center;
  font-size:calc(var(--body) * 1.125);
  font-weight: bold;
  text-transform: uppercase;
  border:1px solid var(--white);
  color:var(--white);
  border-radius: 3px;
}

/* HEADER */
header{
  background: var(--white);
  padding:var(--base--unit) 0;
  box-shadow: 0 1px 5px rgba(0,0,0,0.15);
}
header > div{
  display:flex;
  justify-content:space-between;
  align-items: center;
}
header nav ul{
  display: flex;
  align-items: center;
  gap:10px;
}
header nav ul li:first-child{
  margin-right: 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  color: var(--light--gray);
}
header nav ul li:first-child a{
  color: var(--black);
}

/* FOOTER */

.cta{
  background:#292C2E;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:calc(var(--base--unit) * 2);
  text-align: center;
}
.cta .section_tt{
  color: var(--white);
  margin: 27px;
}
.cta .section_desc{
  color: var(--midium--gray);
}
.copyright{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:var(--base--unit);
}