.banner .section_tt{
  color:var(--white);
}
.banner{
  display: flex;
  flex-direction: column;
  gap:calc(var(--base--unit) * 2);
  align-items: center;
}
.banner .titles{
  display:flex;
  flex-direction: column;
  gap:var(--base--unit);
  text-align: center;
}
.feature_list{
  display:flex;
  gap:27px;
}
.feature_list li{
  display:flex;
  flex-direction: column;
  gap:27px;
  align-items: center;
  text-align: center;
}
.feature_list .icon{
  width: 108px;
  height: 108px;
  border: 1px solid #439CCF;
  border-radius:50%;
  display:flex;
  justify-content: center;
  align-items: center;
  color:#439CCF;
  font-size: 36px;
}
.testmonial .wrapper{
  overflow: hidden;
  position:relative;
}
.testmonial_list{
  transition: 0.5s;
  display:flex;
  width: calc(var(--container) * 3);
}
.testmonial_list li{
  text-align: center;
  width: 100%;
}
.testmonial_list li p{
  font-size: 24px;
  line-height: 36px;
  color:#489dcd;
  font-weight: 300px;
  font-style: italic;
  width: 55%;
  margin:0 auto 27px;
}
.testmonial_list li small{
  color:#439CCF;
}
.testmonial button{
  position:absolute;
  top:50%;
  color:var(--light--gray);
  transform:translateY(-50%)
}
.testmonial button span{
  font-size: 45px;
}
.testmonial button.prev{
  left:0;
}
.testmonial button.next{
  right:0;
}